[Unit]
Description=Rust Backend Service
After=network.target

[Service]
User=rustapp
Group=rustapp
WorkingDirectory=/home/BeatmapBrowser
ExecStart=/home/BeatmapBrowser/target/release/backend 127.0.0.1:3000 (Discord token) http2
Restart=on-failure

[Install]
WantedBy=multi-user.target
