[Unit]
Description=Backend Database Service
After=network.target

[Service]
Type=simple
User=surrealdb
Group=surrealdb
WorkingDirectory=/etc/surrealdb
ExecStart=surreal start --user root --pass root rocksdb:/etc/surrealdb/db
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
